---
import { MetaTags } from '@codemint/astro-meta';
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags
      title="Astro Meta"
      description="Easily add meta tags to your Astro pages."
      keywords={['astro', 'meta', 'open graph', 'twitter', 'seo']}
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
